*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
.env
.idea/
.vscode/
.DS_Store
coverage.txt
target
tests/simulation/output
/strawberry
internal/crypto/bandersnatch/lib
internal/erasurecoding/reedsolomon/lib
benchmark_results.txt
